*{
    margin: 0;
    padding: 0;
}
body{
    width: 1000px;
    background-color: steelblue; 
}
.register_box{
    width: 45%;
    border: 1px solid black;
    display: inline-block;
}
.login_box{
    width: 45%;
    border: 1px solid black;
    display: inline-block;
}
.top_bar{
    display: inline-block;
}
.left_container{
    width: 45%;
}
.right_container{
    width: 45%;
    display: inline-block;
}
table tr td{
    border: 1px solid black;
}